<!DOCTYPE html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css">
  <title>Dynamic Page - <%= data.activity %>
  </title>
</head>

<body>
  <header>
    <h1>
      <%= data.activity %>
    </h1>
  </header>
  <main>
    <h2>
      <%= data.type %>
    </h2>
    <p>
      <%= data.key %>
    </p>
  </main>
  <footer>
    <p>&copy; 2023 Your Company</p>
  </footer>
</body>

</html>